@import "../../color-themas.sass"

.navbarMenu-container
  //background-image: linear-gradient(to bottom right, #0aa8c7, #9b2cf3)
  background-image: linear-gradient(to bottom right, $primary-main, $primary-main-gradient)
  height: 70px
  box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.3)
  // position: fixed
  // top: 0
  // left: 0
  // right: 0
  // z-index: 2
  .hide
    display: none !important

  .container
    .row
      position: relative
      .name
        padding: 12px
        margin-right: 5%
        color: $primary-contrast-text
      a
        i
          //display: block
          position: absolute
          font-size: 50px
          padding: 10px
          right: 0
          color: $primary-contrast-text
        .hide
          display: none !important
      span
        position: absolute
        right: 0
        margin: 5px
      .menu-list
        margin-left: 2%
        list-style: none
        li
          float: left
          display: block
          cursor: pointer
          a
            height: 70px
            padding-top: 19px
            padding-right: 15px
            padding-left: 15px
            display: block
            text-decoration: none
            color: $primary-contrast-text
            font-size: 18px
          &:hover>a
            //color: #FFB937
            background-color: $primary-dark
          &.active
            background-color: $primary-dark
            //background-color: rgba($primary-contrast-text 0.15)
            a
              //color: #FFB937




