@import "../../color-themas.sass"

.navbarMenu-container
  //background-image: linear-gradient(to bottom right, #0aa8c7, #9b2cf3)
  background-image: linear-gradient(to bottom right, $primary-main, $primary-main-gradient)
  height: 70px
  box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.3)

  .hide
    display: none !important

  .container-fluid
    padding-right: 70px
    padding-left: 70px
    .row
      position: relative
      .name
        padding: 12px
        margin-right: 5%
        color: $primary-contrast-text
      .right-side-menu
        position: absolute
        right: 0
        li
          a
            i
              font-size: 50px
              padding: 10px
              color: $primary-contrast-text
              cursor: pointer
            .hide
              display: none !important
        .login
          cursor: pointer
          a
            height: 70px
            padding-top: 19px
            padding-right: 15px
            padding-left: 15px
            display: block
            text-decoration: none
            color: $primary-contrast-text
            font-size: 18px
          &:hover>a
            //color: #FFB937
            background-color: $primary-dark
      span
        position: absolute
        right: 0
        margin: 5px
      .menu-list
        margin-left: 2%
        list-style: none
        li
          float: left
          display: block
          cursor: pointer
          a
            height: 70px
            padding-top: 19px
            padding-right: 15px
            padding-left: 15px
            display: block
            text-decoration: none
            color: $primary-contrast-text
            font-size: 18px
          &:hover>a
            //color: #FFB937
            background-color: $primary-dark
          &.active
            background-color: $primary-dark
            //background-color: rgba($primary-contrast-text 0.15)
            a
              //color: #FFB937
      .right-side-menu
        list-style: none




