<div class="navbarMenu-container">
  <div class="container">
    <div class="row">
      <h2 class="name">{{title}}</h2>
      <ul class="menu-list">
        <li routerLinkActive="active" class="menu-element">
          <a [routerLink]="['/dashboard']">Environments</a>
        </li>
        <li routerLinkActive="active" class="menu-element">
          <a [routerLink]="['/installation']">Installation</a>
        </li>
        <li routerLinkActive="active" class="menu-element">
          <a [routerLink]="['/help']">Help</a>
        </li>
      </ul>
      <i class="fas fa-user-circle"></i>
      <span class="badge badge-pill badge-danger">{{notification}}</span>
    </div>
  </div>
</div>
