<div class="card-container">
  <div class="row">
    <div class="card-header">
      <h5>{{environmentName}}</h5>
      <h6>Current version: {{version}}</h6>
    </div>
    <div class="triangle"></div>
    <div class="circle-plate">
      <button mat-fab [matMenuTriggerFor]="menu"><i class="fas fa-chevron-down"></i></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Turn Off</button>
        <button mat-menu-item>Apply Snapshot</button>
        <button mat-menu-item>Start CI Tests</button>
        <button mat-menu-item>Wizard</button>
        <button mat-menu-item>Settings</button>
      </mat-menu>
    </div>
  </div>
  <div class="content">
    <mat-progress-spinner
        class="example-margin"
        [color]="spinerColor"
        [mode]="spinerMode"
        [value]="spinerValue">
    </mat-progress-spinner>
    <div class="info">
      <h6>Last action:</h6>
    </div>
    <!-- <div class="progress-wraper">
      <div class="current" ng-reflect-ng-style="[object Object]" style="top: 50%; bottom: auto; left: 50%; transform: translateY(250%)  translateX(15%); font-size: 25.7143px;">{{current}}/{{max}}</div>
      <round-progress
                      [current]="current"
                      [max]="max"
                      [color]="'green'"
                      [background]="'#eaeaea'"
                      [radius]="80"
                      [stroke]="15"
                      [semicircle]="false"
                      [rounded]="false"
                      [clockwise]="true"
                      [responsive]="false"
                      [duration]="800"
                      [animation]="'easeInOutQuart'"
                      [animationDelay]="0"
                      (onRender)="doSomethingWithCurrentValue($event)">
      </round-progress>
  </div> -->
  </div>
  <div class="footer">
    <button mat-raised-button class="btn-details">Details</button>
  </div>
</div>
