<div class="details-container">
  <div class="details-header">
    <h3>{{ environment?.name }}</h3>
  </div>
  <div class="details-content">
    <div class="common-info"></div>
    <div class="server-list">
      <h5>List of Servers:</h5>
      <mat-selection-list >
        <mat-list-option *ngFor="let server of environment?.servers">
            <h3 matLine> {{server.hostname}} </h3>
            <p matLine>
              <span> {{server.ip}} </span>
            </p>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>
</div>
