<!--The content below is only a placeholder and can be replaced.-->
<app-navbar-menu></app-navbar-menu>
<router-outlet></router-outlet>
<div class="container">
  <div class="row">
    <!-- <app-dropdown-basic></app-dropdown-basic>
    <br>
    <ngb-datepicker #d></ngb-datepicker> -->

    <!-- <button mat-stroked-button class="mat-button">
      basic -->
      <!-- <span class="mat-button-wrapper">Basic</span> -->
      <!-- <div class="mat-button-ripple mat-ripple" matripple=""></div> -->
      <!-- <div class="mat-button-focus-overlay"></div> -->
    <!-- </button> -->
  </div>
</div>
