<div class="dashboard-container">
  <app-environment-info-card></app-environment-info-card>
  <app-environment-info-card></app-environment-info-card>
  <app-environment-info-card></app-environment-info-card>
  <app-environment-info-card></app-environment-info-card>
  <app-environment-info-card></app-environment-info-card>
  <app-environment-info-card></app-environment-info-card>
  <app-environment-info-card></app-environment-info-card>
  <app-environment-info-card></app-environment-info-card>
  <app-environment-info-card></app-environment-info-card>
</div>

