// Material blue
$primary-main: #673ab7
$primary-main-gradient: #673ab7
$primary-light: #8561c5
$primary-dark: #482880
$primary-contrast-text: #ffffff

$secondary-main: #f50057
$secondary-light: #f73378
$secondary-dark: #ab003c
$secondary-contrast-text: #ffffff

$success-main: #00e676

$error-main: #f44336
$error-light: #e57373
$error-dark: #d32f2f
$error-contrast-text: #ffffff

$text-color-primary: #212121
$text-color-secondary: #757575
$text-color-disabled: #9e9e9e
$text-color-hint: #9e9e9e

$background-paper: #ffffff
$background-default: #fafafa

$common-black: #000000
$common-white: #ffffff

// $primary-color: #3f51b5
// $secondary-color: #3f51b5
// $accent-color: #ff4081
// $error-color: #f44336
// $success-color: #00e676

// My theme
// $primary-main: #3f51b5
// $primary-main-gradient: #3f51b5
// $primary-light: #7986cb
// $primary-dark: #303f9f
// $primary-contrast-text: #ffffff

// $secondary-main: #f50057
// $secondary-light: #ff4081
// $secondary-dark: #c51162
// $secondary-contrast-text: #ffffff

// $success-main: #00e676

// $error-main: #f44336
// $error-light: #e57373
// $error-dark: #d32f2f
// $error-contrast-text: #ffffff

// $text-color-primary: #212121
// $text-color-secondary: #757575
// $text-color-disabled: #9e9e9e
// $text-color-hint: #9e9e9e

// $background-paper: #ffffff
// $background-default: #fafafa

// $common-black: #000000
// $common-white: #ffffff
